# Env & secrets
.env
.env.*
!.env.example
*.pem
*.key
*.p12
credentials.json

# Dependencies (futurs)
node_modules/

# Build
dist/

# Logs
*.log
npm-debug.log*

# OS junk
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
*.swp
*.swo
